body
{
 overflow-x: hidden;
 margin:0;
 padding:0;
 -webkit-font-smoothing:antialiased;
 -webkit-overflow-scrolling:touch; 
 font-family: 'Open Sans Condensed', sans-serif;
 color:#333;
}
h2
{
 font-weight:800px;
 text-align: center;
}
p
{
 font-size:18px;
 text-indent: 15px;
 letter-spacing: 2px;
 line-height: 25px;
 font-family: 'Roboto', sans-serif;
}
.textLayout
{
 margin-left:15px;
 margin-bottom: 35px;
 background:rgba(255,255,255,0.7);
 border-radius:3px;
 padding:5px;
}
.centered
{
 text-align: center;
}
.Logo
{
 width:320px;
 margin-top:125px;
 border:none;
}
.absurd
{
 font-size: 24px;
 font-family: 'Open Sans Condensed', sans-serif;
 font-weight: bold; 
 font-size:24px; color:black; 
 margin-top:25px; 
 line-height:15px; 
 background:yellow; 
 height:45px; 
 padding-top:15px;
 width:352px;
 border-radius:5px;
 text-align:center;
 text-transform:uppercase;
}

@media screen and (min-width:700px)
{
 .wrapper
 {
  background:url("../commons/backbar.jpg") center center no-repeat;
  height:526px;
  width:100%;
  position:relative;
  background-size:100%;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size:cover;
 }
}
@media screen and (max-width:700px)
{
 .wrapper
 {
  background:url("../commons/mini-backbar.jpg") top center no-repeat;
  height:283px;
  width:100%;
  position:relative;
  background-size:100%;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size:cover;
 }
}

.welcome
{
	background: #fffc00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #ffffff, #fffc00);
}
.todayEvent
{
 background-image:url("../commons/kings.jpg");
 background-repeat:no-repeat;
 background-position: center center;
 background-size:cover;
 
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 min-height: 600px;
 height:auto;
 padding-bottom: 10px; 
}
.todayEvent h2
{
 color:yellow;
}
.todayEvent .textLayout
{
 padding:20px;
}
.todayEvent p
{
 font-weight: 800;
}
.stuff
{
background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 1%, rgba(71,71,71,1) 11%, rgba(89,89,89,1) 12%, rgba(28,28,28,1) 51%, rgba(43,43,43,1) 68%, rgba(44,44,44,1) 92%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(1%, rgba(17,17,17,1)), color-stop(11%, rgba(71,71,71,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(51%, rgba(28,28,28,1)), color-stop(68%, rgba(43,43,43,1)), color-stop(92%, rgba(44,44,44,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 1%, rgba(71,71,71,1) 11%, rgba(89,89,89,1) 12%, rgba(28,28,28,1) 51%, rgba(43,43,43,1) 68%, rgba(44,44,44,1) 92%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 1%, rgba(71,71,71,1) 11%, rgba(89,89,89,1) 12%, rgba(28,28,28,1) 51%, rgba(43,43,43,1) 68%, rgba(44,44,44,1) 92%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 1%, rgba(71,71,71,1) 11%, rgba(89,89,89,1) 12%, rgba(28,28,28,1) 51%, rgba(43,43,43,1) 68%, rgba(44,44,44,1) 92%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 1%, rgba(71,71,71,1) 11%, rgba(89,89,89,1) 12%, rgba(28,28,28,1) 51%, rgba(43,43,43,1) 68%, rgba(44,44,44,1) 92%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.stuff h2
{
 color:white;
}
.stuff .aboutStuff
{
 overflow: hidden;
 font-size:13px;
 height:150px;
 text-overflow: ellipsis;
}

.slideMe:hover
{
 cursor:pointer;
 text-decoration: underline;
}

.menu
{
 background: #fffc00;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to top, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to top, #ffffff, #fffc00);
 margin-bottom: 75px;
}
.thumbnail
{
 margin-top:25px;
}

.findUs
{
 background: #fffc00;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to bottom, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to bottom, #ffffff, #fffc00);
}

/*Кнопки*/
.brdBut
{
 border-radius:3px;
 background-color:yellow;
 color:black;
 border:2px solid black;
 font-size:24px;
 font-family: 'Open Sans Condensed', sans-serif;
 position:relative;
 margin-bottom: 25px;
 height:50px;
 width:250px;
 text-align: center;
 -webkit-transition: 0.3s all;
 -o-transition: 0.3s all;
 -moz-transition: 0.3s all;
  transition: 0.3s all;
}
.brdBut:hover
{
 cursor:pointer;
 border:3px solid yellow;
 text-decoration: none;
 color:yellow;
 background: black;
}

.links:hover
{
 cursor:pointer;
 background-color: yellow;
}
/*ICONS*/
.inst
{
  background-image:url('../commons/instico.png');

 width:50px;
 height:50px;
 position: absolute;
 margin-left:15px;
}
.inst:hover
{
 background-image:url('../commons/instyellow.png');
}
.face
{
 width:50px;
 height:50px;  
 background-image:url('../commons/faceico.png');
 position: absolute;
 margin-left:15px;
}
.face:hover
{
 background-image:url('../commons/fbyellow.png');
}
/*Меню*/
.menulist
{
 font-size:18px;
 background:yellow;
 font-family:'Segoe', sans-serif;
 border-radius:2px;
 width:100%;
 margin-left:0px;
}
.menulist li
{
 /*margin-right:15px;*/
 margin-left:25px;
 font-size: 18px;
 font-family: 'Open Sans Condensed', sans-serif;
}
.menulist li a
{
 color:black;
}
.menulist li a:hover
{
 background: black;
 color:yellow;
}
.headerStandart
{
 font-size:24px; 
 font-family: 'Open Sans Condensed', sans-serif;
 text-transform: uppercase; 
 font-weight:bold; 
 top:105px; 
 margin-left:35px;
 color:yellow;
}
/*Сьогоднішній пост*/
/*.todayBack
{
 background-image:url('commons/kings.jpg'); 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 background-size:cover;
 background-position: center;
 background-repeat: no-repeat;
 min-height: 100%;
 height:auto;
 border-bottom: 5px solid yellow;*/
}
/*Стиль афіш*/
.AfishaStyle
{
 width:85%;
}
.AfishaStyle:hover
{
 cursor:pointer;
 border:4px solid black;
}
/*Стиль для заднього фону книжки-меню*/

/*Стиль для панелі перегортування книжки-меню*/
/*Меню-книжка*/
#flipbook:hover
{
 cursor: -webkit-grab; 
 cursor: -moz-grab;
}
#flipbook:active
{
 cursor: -webkit-grabbing;
 cursor: -moz-grabbing;
}
/*Фон для сторінки з вакансіями*/
.JobBack
{
 background-image:url('bender.jpg'), url('back3.jpg'), url('barduckhover.jpg');
 background-position: -200%, 70%, 100%;
 background-repeat: no-repeat, no-repeat;
 margin-top:50px; 
 height:100%; 
 width:100%;
} 
@media only screen and (min-width: 600px) 
{
 .foodimages
 {
  width:300px;
 }
}

@media only screen and (max-width: 640px) 
{
 .foodimages
 {
  width:150px;
 }
}